@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

/* html{
    scroll-snap-type: y mandatory;
} */

body{
    margin: 0;
    overflow-x: hidden;
}

article{
    height: 100dvh;
    width: 100vw;
    scroll-snap-align: start;
}

.home-page-container{
    display: grid;
    place-items: center;
    background: linear-gradient(45deg, rgb(25, 117, 255), rgb(228, 46, 46));
}

.home-page-content{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-page-content section{
    font-weight: bold;
    color: white;
    font-size: 4rem;
}

.home-left-section{
    display: flex;
    justify-content: center;
}

.home-right-section{
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

.home-buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.home-buttons button{
    background: none;
    border: 1px solid white;
    border-radius: 15px;
    width: 120px;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px black;
}

.home-page-login{
    display: grid;
    place-items: center;
}

.home-page-login form{
    display: flex;
    flex-direction: column;
    background: green;
    padding: 30px;
    gap: 20px;
    height: 40%;
    width: 40%;
}

.home-page-login h1{
    margin: 0;
    background: red;
    height: max-content;
    font-size: 2rem;
}

input{
    background-color: blue;
    height: 50px;
}